*
{
    border: 2px solid;
}

.headertop
{
    display: flex;
    justify-content: space-around;
}

.headerbottom 
{
    display: flex;

}

.logo
{
    flex-basis: 50%;
    margin-top: 1rem;
}

.links
{   flex-basis: 50%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.description
{
    flex-basis: 50%;
}

.headerimage
{
    flex-basis: 50%;
}

.information
{
display: flex;
flex-direction: column;
align-items: center;
}



.imagebox {
display: flex;
gap: 2rem;
}

.imagecard
{
    display: flex;
    flex-direction: column;
}

.imagebox img{
    padding: 2rem;
}


.testimonial
{   
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote
{   margin-top: 4rem;
    text-align: center;
    width: 40rem;
}

.quoter
{   margin-top: 0.1rem;
    margin-left: 35rem;
}


.signupsection
{
  display: flex;
justify-content: center;
}

.signupbox

{   margin-top: 4rem;
    margin-bottom: 4rem;
    width: 50rem;
    height: 8rem;
    display: flex;
    align-items: center;

}

.signupboxleft,
.signupboxright
{
    text-align: center;
}

.signupboxleft
{
flex-basis: 70%;
}

.signupboxright
{
flex-basis: 30%;
}

footer
{
height: 3rem;
display: flex;
justify-content: center;
align-items: center;
}