@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");

* {
  font-family: "Tenor Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper,
header,
.logo,
.left,
.right {
  display: flex;
}

.wrapper {
  flex-direction: column;
}

header {
  background-color: #81171b;
  position: fixed;
  width: 100%;
  height: 5rem;
}

.left {
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
}

.logo {
  gap: 0.75rem;
  align-items: center;
}

.logo > * {
  font-size: 1.9rem;
}

.right {
  gap: 2rem;
  font-size: 1.2rem;
  flex-basis: 50%;
  align-items: center;
  justify-content: flex-end;
}

.right a {
  transition-property: color;
  transition-duration: 0.2s;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
}

.right a:hover {
  color: gray;
}

.left a,
.right a {
  color: #fff3b0;
  text-decoration: none;
}

.icon img {
  height: 35px;
  width: 35px;
}

main {
  display: flex;
  flex-direction: column;
}

.headerbottom {
  background-image: url(./images/Crossroads_in_Cumbria_-_geograph.org.uk_-_4624989.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  flex-basis: 62rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f2937;
}

.headerbottom > * {
  color: #fff3b0;
}

.bio p {
  text-align: center;
  max-width: 26rem;
  margin-top: 1.5rem;
}

button {
  background-color: #81171b;
  border-radius: 5px;
  border: #fff3b0 solid 1px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  color: #fff3b0;
  flex-basis: 12rem;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
}

button:hover {
  background-color: #6a040f;
}

button:active {
  border-style: inset;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-basis: 30rem;
}

.information > * {
  color: #81171b;
}

.imagebox {
  width: 90rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 9rem;
  border-radius: 10px;
}

.imagecard {
  flex-basis: 12rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.image {
  border: 4px solid black;
  border-radius: 10px;
  width: 12rem;
  flex-basis: 12rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  height: 160px;
  width: 160px;
}

.imagecard p {
  flex-basis: 10%;
  text-align: center;
}

.testimonial {
  flex-basis: 20rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #fbba72;
  justify-content: center;
}

.quote,
.quoter {
  color: #81171b;
  text-align: center;
}

.quote {
  font-style: italic;
  font-size: 1.5rem;
  max-width: 30rem;
}

.quoter {
  font-size: 1.2rem;
  font-weight: 800;
}

.signupsection {
  flex-basis: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupbox {
  flex-basis: 30rem;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: #81171b;
  color: #fff3b0;
  border-radius: 10px;
  gap: 1rem;
  align-items: center;
}

footer {
  background-color: #81171b;
  color: #fff3b0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.attributions {
  color: #f3e5ab;
}

.attributionsection {
  height: 80vh;
  margin-top: 7rem;
  margin-left: 2rem;
}

.attributionsection h4 {
  margin-top: 1.5rem;
  text-decoration: underline;
}

.attributionsection > * {
  color: #81171b;
}

li a {
  text-decoration: none;
  color: #641220;
  font-weight: 800;
}

.attributionsection ul li {
  list-style: none;
  margin-top: 0.5rem;
}
