@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
*
{
    font-family: 'Julius Sans One', sans-serif;

}

body
{
    margin: 0;
}

.wrapper,
header,
.logo,
.links
{
    display: flex;
}

.wrapper
{
    flex-direction: column;
}

header
{
    flex-basis: 5rem;
    align-items: center;
    background-color: #A50021;
}

.logo,
.links
{
    flex-basis: 50%;
    justify-content: center;
    gap: 1rem;
}

.logo >*,
.links >*
{   
    color: #F3E5AB;
    margin: 0;

}

.logo >*
{
    font-size: 1.9rem;

}

.logo img
{
    height: 35px;
    width: 35px;
}

main
{
    display: flex;
    flex-direction: column;
}

.headerbottom::before
{
    background-image: url(./images/crossroads.jpg);
    background-repeat: no-repeat;
    background-size: 119rem auto;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    content: "";
    opacity: 0.4;
    pointer-events: none;
}

    .headerbottom
{   
    flex-basis: 56rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
    background-color: #1F2937;
    position: relative;
    
}

.headerbottom >*
{
    color: #F9FAF8;
    margin: 0;
}


.headerbottom h1
{
   margin-top: 14rem;

}

.headerbottom p
{
   max-width: 35rem;
   font-weight: 800;
   text-align: center;
}

.headerbottom a
{
    align-self: flex-end;
    margin-right: 0.5rem;
    margin-top: 17.5rem;
    font-size: 0.75rem;
}

button
{
    background-color: #A50021;
    border-radius: 5px;
    border: #F9FAF8 solid 1px;
    padding: 1rem;
    font-weight: 900;
}